<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCquEjZvoCxZ2uef-5i8aKDH5L99Cdk8yI</string>
	<key>GCM_SENDER_ID</key>
	<string>570430284523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.RestaurantFinder</string>
	<key>PROJECT_ID</key>
	<string>restaurantfinder-62103</string>
	<key>STORAGE_BUCKET</key>
	<string>restaurantfinder-62103.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:570430284523:ios:169ad035345854989214ae</string>
</dict>
</plist>